.content {
	margin-bottom: 30px;
	margin-top: 30px;
}

/* Login */

.login-container .row {
	margin-bottom: 15px;
}

.login-container .row:last-child {
	margin-bottom: 0;
}

.login-container .error {
	border: 1px solid #F00;
}

/* Alerts */

.alert-fixed-top {
	border-radius: 0;
	display: none;
	text-align: center;
}