.content {
	margin-bottom: 30px;
	margin-top: 30px;
}

/* Login */

.login-container .row {
	margin-bottom: 15px;
}

.login-container .row:last-child {
	margin-bottom: 0;
}

.login-container .error {
	border: 1px solid #F00;
}

/* Homepage - Enquête overzicht */

.enquete-meta .button-group {
	margin: 15px 0;
}

/* Enquete - Invullen */

.enquete-form {
	margin: 30px 0;
}

.question {
	margin-bottom: 30px;
}

.question .form-control {
	resize: none;
}

.question textarea {
	height: 200px;
}

/* Enquete - Edit */

.enquete-title {
	border: 0;
	color: inherit;
	font-family: inherit;
	font-size: 36px;
	font-weight: 500;
	line-height: 1.1;
	margin-bottom: 5px;
	margin-left: -10px;
	margin-top: 15px;
	outline: 0;
	padding: 5px 10px;
	width: 100%;
}

.enquete-title:focus,
.enquete-title:hover {
	background: #ff8;
}

.enquete-elements-container {
	height: calc(100% - 159px);
	overflow-y: scroll;
	position: fixed;
	width: 375px;
}

.enquete-elements-container .page-header {
	background: #f5f5f5;
	border-bottom: 1px solid #e3e3e3;
	margin-top: -19px;
	padding-top: 19px;
	position: fixed;
	width: 335px;
}

.enquete-elements {
	margin-top: 50px;
}

.enquete-element {
	margin-bottom: 15px;
	padding-bottom: 15px;
}

.enquete-element:last-child {
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

.enquete-container {
	height: calc(100% - 208px);
	margin-bottom: 15px;
	max-height: calc(100% - 208px);
	overflow-y: scroll;
	position: fixed;
	width: 750px;
}

.drop-placeholder {
  background: #ff8;
  min-height: 45px;
  margin-bottom: 20px;
}

.enquete-save-container {
	text-align: right;
}

.enquete-save {
	position: fixed;
	top: calc(100% - 89px);
}

/* Alerts */

.alert-fixed-top {
	border-radius: 0;
	display: none;
	text-align: center;
}

/* Links */

a:hover {
	cursor: pointer;
}